# Coston2 Configuration
COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
DEPLOYER_PRIVATE_KEY=your_private_key_here
FXRP_TOKEN_ADDRESS=0xa3Bd00D652D0f28D2417339322A51d4Fbe2B22D3
USDT0_TOKEN_ADDRESS=0xC1A5B41512496B80903D1f32d6dEa3a73212E71F

# -----------------------------------------------------------------------------
# FCC Configuration
# -----------------------------------------------------------------------------
FCC_ENCLAVE_URL=mock_url
FCC_VERIFIER_ADDRESS=
FCC_EXTENSION_ID=
FCC_API_URL=http://localhost:3300/fcc

# -----------------------------------------------------------------------------
# Backend Matcher Configuration
# -----------------------------------------------------------------------------
VAULT_CONTRACT_ADDRESS=
VAULT_DEPLOY_BLOCK=0
MATCHER_PRIVATE_KEY=
POLL_INTERVAL_MS=5000
POLL_TIMEOUT_MS=120000
PORT=3001
LOG_LEVEL=info

# -----------------------------------------------------------------------------
# Hardhat Network (Local Mock)
# -----------------------------------------------------------------------------
FTSO_V2_ADDRESS=0x3d893C53D9e8056135C26C8c638B76C8b60Df726
XRP_USD_FEED_ID=0x015852502f55534400000000000000000000000000
AUTHORIZED_VERIFIER_ADDRESS=0x0000000000000000000000000000000000000000

 # Frontend Variables
NEXT_PUBLIC_FTSO_V2_ADDRESS=0x3d893C53D9e8056135C26C8c638B76C8b60Df726
NEXT_PUBLIC_XRP_USD_FEED_ID=0x015852502f55534400000000000000000000000000
NEXT_PUBLIC_VAULT_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
NEXT_PUBLIC_FXRP_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_USDT0_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_COSTON2_EXPLORER_URL=https://coston2-explorer.flare.network
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001